.about{
    padding-top:50px;
    display: flex;
    
    &__card{
        font-family: "Raleway";
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
    }
    &_flex-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}
.card__title{
    margin-top: 25px;
    font-size: 30px;
}
.card__text{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}