footer{
    background-color: #00264F;
    padding: 90px 0px  150px 0px;
}
.footer__wrapper{
    padding-left:250px;
}
.section-title{
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.input{margin-bottom: 10px;padding: 15px 440px 15px 13px;}
.input3{
    padding-bottom: 150px;
}
::placeholder{color: #00264F;font-family: 'Raleway';}